{% extends 'dashboard/xbase.html' %}
{% load static %}
{%load crispy_forms_tags%}
{% block content %}


<div class="loginarea">
    <div class="container-fluid">
        <div class="">
        <div class="row">
            <div class="col-md-6 animearea">

                
                <div class="row "> 
                    <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png' %}"></a>
                    <img src="{% static 'assets/signup.svg' %}" alt="" class="img-fluid img-responsive testss" >
                </div>

                
               
            </div>
            <div class="col-md-6 mt-5">
                <div class="row ">
                    <div class="col ms-5"> <a href="{% url 'landing' %}"><p><i class="fa-solid fa-angles-left"></i>  Back to homepage</p></a></div>
                    <div class="col">
                         
                    </div>
                </div>


                <div class="row mt-5"><h6 class="text-muted ms-5">Hello! Lets help you manage your finances</h6></div>
                <div class="row"><h1 class="ms-5 fw-bold">Sign up to PESATRACK</h1></div>
                <div class="row ms-5 mt-3">
                   <h6 class="text-muted">Already have an account? <a href="{% url 'login'%}"><span class="fw-bold ms-5" style="color:rgb(175, 0, 102) ; cursor:pointer;">Sign in</span></a></h6>
                </div>
                <div class="row m-5 "><form class=" " action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mt-5">
                        <input type="checkbox" name="check" id="">
                        <label for="check">Send me promotional emails, deals and events</label>
                    </div>
                    <div class="mt-5">
                        <input type="submit" class="mt-5 button-66" value="Create Account">
                    </div>
                    <input type="hidden" name="next" value="{{next}}">
                </form></div>
                <div class="row"></div>
                

            </div>
        </div>
        </div>
    </div>
</div>



















{% endblock %}