{% extends 'dashboard/xbase.html' %}
{% load static %}

{% block content %}
<div class="">
<div class="container-fluid ">
    <div class="row">
        <div class="col-md-2 prof">
            <div class="container text-center mt-5 ">
                
                <img src="{% static 'assets/dummy.jpg' %}" height="130" width="130" alt="" class="img-fluid rounded-circle ms-md-2">
                <h4 class="fw-bold mt-2"> Sarah Ben</h4>
                <h6 class="mt-4 fw-bold text-muted">@sarahben</h6>
                <p class="fw-bold text-muted">sarahben@gmail.com</p>
                <p class="mt-5 text-start text-muted fw-bold"><small class="text-muted">MAIN MENU</small> </p>
                <h5 class="mt-4 text-start m-5  menu"><i class="fa-solid fa-table-columns"></i>  Dashboard</h5>
                <h5 class="mt-4 text-start m-5 menu"><i class="fa-solid fa-chart-line"></i>  Expenses</h5>
                <h5 class="mt-4 text-start m-5 menu"><i class="fa-solid fa-gauge-high"></i>  Analytics</h5>
                <h5 class="mt-4 text-start m-5 menu"><i class="fa-solid fa-gear"></i>  Settings</h5>
                <h5 class="mt-4 text-start m-5 menu"><i class="fa-solid fa-right-from-bracket"></i>  Logout</h5>

            </div>
        </div>




        <!-- DASHBOARD SECTION STARTS HERE -->


        <div class="col-md-10 dash">
            <div class=" mt-5">
                <nav class="navbar mb-5 navbar-expand-lg bg-none">
                    <div class="container-fluid">
                      <a class="navbar-brand fw-bold" href="#"><i class="fa-solid fa-table-columns"></i>  Dashboard</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-solid fa-clock"></i>  24th June 2022</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                          </li>
                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#"></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link mt-2" href="#"><i class="fa-solid fa-download"></i> Export</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#"><button class="button-18" role="button"><i class="fa-solid fa-plus"></i> Add Income</button></a>
                            </li>
                          </ul>
                        <span class="nav-item">
                          <a href="">
                          </a>
                        </span>
                      </div>
                    </div>
                  </nav>

                  <div class="container">
                    <div class="row row-cols-1 row-cols-md-4">
                        <div class="col">
                            <div class="card card2" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title">Total Expenditure</h5>
                                  <h6 class="card-subtitle mb-2 text-muted"></h6>
                                  <p class="card-text"><div class="badge text-center m-5"><p class="text-center mt-md-3 tsmall">7<small class="tsmall">.34</small></p></div></p>
                                 </div>
                              </div>
                        </div>

                        

                        <div class="col">
                            <div class=" card2 card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title">Total Income</h5>
                                  <h6 class="card-subtitle mb-2 text-muted"></h6>
                                  <p class="card-text"><div class="badge text-center m-5"><p class="text-center mt-md-3 tsmall">10000</p></div></p>
                                 </div>
                              </div>
                        </div>

                        <div class="col">
                            <div class=" card2 card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title">Income - Expenditure</h5>
                                  <h6 class="card-subtitle mb-2 text-muted"></h6>
                                  <p class="card-text text-center"><div class="badge text-center m-5"><p class="text-center mt-md-3 tsmall">10000</p></div></p>
                                 </div>
                              </div>
                        </div>

                        <div class="col">
                            <div class="card card2" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title">Popular Categories</h5>
                                  <h6 class="card-subtitle mb-2 text-muted"></h6>
                                  <p class="card-text"> 
                                    <ul>
                                        <li class="mt-md-3"><i class="fa-solid fa-burger"></i> Food</li>
                                        <li class="mt-md-3"><i class="fa-solid fa-car-side"></i>  Transport</li>
                                        <li class="mt-md-3"><i class="fa-solid fa-mobile-screen"></i>  Data/airtime</li>
                                        <li class="mt-md-3"><i class="fa-solid fa-face-surprise"></i>  Impulse</li>
                                    </ul>
                                  </p>

                                  
                                </div>
                              </div>
                        </div>

                    </div>
                    <div class="container card card3 mt-5">
                        <h4 class="mt-4 mb-4"><i class="fa-solid fa-chart-line"></i>  Recent Expenses</h4>

                        <div class="card card3">
                            <table class="table ">
                                <thead class="table-height">
                                  <tr>
                                    <th scope="col">Number</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Date</th>
                                  </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>@mdo</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@twitter</td>
                                    <td>@mdo</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                        
                    </div>
                    

                  </div>
            </div>
            
        </div>
    </div>
</div>
</div>
{% endblock %}