{% extends 'dashboard/xbase.html' %}
{% load static %}
{% load crispy_forms_tags %} 

{% block content %}
<div class=" ">
<div class="container-fluid ">
    <div class="row">
        <div class=" col-md-2 prof">
            <div class="container text-center mt-5 ">
                
                {% if current_user.profile.image.url %}
                <img src="{{ current_user.profile.image.url }}" height="110" width="110" alt="" class="img-fluid rounded-circle ms-md-2">
                {% else %}
                <img src="https://res.cloudinary.com/dzhpqlsy9/image/upload/v1655910059/samples/people/default_1_sblqpj.jpg" height="110" width="110" alt="" class="img-fluid rounded-circle">
                {% endif %}
                <h4 class="fw-bold mt-2"> {{ current_user.profile.names }}</h4>
                <h6 class="mt-4 fw-bold text-muted">@{{current_user.username}}</h6>
                <p class="fw-bold text-muted">{{current_user.email}}</p>
                <p class="mt-5 text-start text-muted fw-bold"><small class="text-muted">MAIN MENU</small> </p>
                <h6 class="mt-4 text-start m-3  menu"><i class="fa-solid fa-table-columns"></i> <a class="lnk" href="{% url 'dashboard' %}">Dashboard</a> </h6>
                <h6 class="mt-4 text-start m-3 menu"><i class="fa-solid fa-chart-line"></i> <a class="lnk" href="{% url 'expenses' %}">Expenses</a> </h6>
                <h6 class="mt-4 text-start m-3 menu"><i class="fa-solid fa-gauge-high"></i> <a class="lnk" href="">Analytics</a> </h6>
                <h6 class="mt-4 text-start m-3 menu"><i class="fa-solid fa-gear"></i> <a class="lnk" href="{% url 'profile' %}">Settings</a> </h6>
                <h6 class="mt-4 text-start m-3 menu"><i class="fa-solid fa-right-from-bracket"></i> <a class="lnk" href="{% url 'logout' %}">Logout</a> </h6>

            </div>
        </div>




        <!-- DASHBOARD SECTION STARTS HERE -->


        <div class="  col-md-10 dash">
            <div class="container mt-5">
                <nav class="navbar mb-5 navbar-expand-lg bg-none">
                    <div class="container-fluid">
                      <a class="navbar-brand fw-bold" href="#"><i class="fa-solid fa-chart-line"></i> Expenses</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-solid fa-clock"></i>  24th June 2022</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                          </li>
                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">
                                <form class="input-group w-auto my-auto d-none d-sm-flex" role="search" action="{% url 'search' %}">
                 
                                    <input
                                      autocomplete="on"
                                      type="text"
                                      class="form-control rounded"
                                      placeholder="Search"
                                      name="exp"
                                      
                                    />
                                    <span class="input-group-text border-0 d-none d-lg-flex"
                                      ></i
                                    ></span>
                                  </form>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link mt-2" href="#"><i class="fa-solid fa-download"></i> Export</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#"><button class="button-18" role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-plus"></i> Add Expense</button></a>
                            </li>
                          </ul>
                        <span class="nav-item">
                          <a href="">
                          </a>
                        </span>
                      </div>
                    </div>
                  </nav>

                  <div class="container">

                    <div class="container card card3 mt-5">
                        <h4 class="mt-4 mb-4"><i class="fa-solid fa-chart-line"></i>  All Expenses</h4>
                        <h6>Sorted by most recent first</h6>
                        <div class="card card3">
                            <table class="table table-hover">
                                <thead class="table-height">
                                  <tr>
                                    
                                    <th scope="col">Category</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Date</th>
                                  </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                  {% if expenses %}
                                    {% for expense in expenses|slice:":14"  %}
                                    <tr>
                                    
                                    
                                    <td>{{expense.category}}</td>
                                    <td>{{expense.description}}</td>
                                    <td>{{expense.amount}}</td>
                                    <td>{{expense.date}}</td>
                                    
                                </tr>
                                  {% endfor %}
                                    {% else %}
                                    <td colspan="5" class="table-active">You have no expenses but don't worry, you can add one <button class="button-18" role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-plus"></i> Add Expense</button></td>
                                    {% endif %}
                                </tbody>
                              </table>
                        </div>
                        
                    </div>
                    

                  </div>
            </div>
            
        </div>
    </div>
</div>
</div>



  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add Expense</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="container" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                    {{ form|crispy }}
                
                <div class="form-group text-center">
                    <button class="btn button-18 mt-3" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>



{% endblock %}